.bg {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.icon{
    display: flex;
    margin: 20px;
}    